<div class="columns is-mobile min-320">
  <div class="column">
    <div class="box">
        <h3 class="subtitle is-bold">Reset Password</h3>
        <form [formGroup]="form" role="form" (ngSubmit)="reset()" novalidate class="narrow-form">
            <div class="field">
                <label class="label">Email</label>
                <p class="control">
                    <input class="input" type="email" placeholder="Email input" [formControl]="email" required id="email" name="email" [class.is-danger]="email.invalid && email.touched">
                </p>
                <p *ngIf="email.valid || email.pristine">Enter your email address</p>
                <p *ngIf="email.dirty && email.hasError('help is-danger')">An email address is required</p>
            </div>
            <div class="field is-grouped">
                <p class="control">
                    <button type="submit" class="button is-primary">Submit</button>
                </p>
            </div>
        </form>
    </div>
  </div>
</div>
