<div class="columns is-mobile min-320">
  <div class="column">
    <div class="box has-text-centered">
        <h3 class="subtitle is-bold">Please Log In</h3>
        <a href="#" class="button is-info" (click)="loginVia($event, 'google')">Google</a>
    </div>
    <div class="box">
        <h3 class="subtitle is-bold">or Login with Email & Password</h3>
        <form [formGroup]="form" role="form" (ngSubmit)="login()" novalidate class="narrow-form">

            <div class="field">
                <label class="label">Email</label>
                <p class="control">
                    <input class="input" type="email" placeholder="Email input" [formControl]="email" required id="email" name="email" [class.is-danger]="email.invalid && email.touched">
                </p>
                <p *ngIf="email.valid || email.pristine">Enter your email address</p>
                <p *ngIf="email.dirty && email.hasError('help is-danger')">An email address is required</p>
            </div>
            <div class="field">
                <label class="label">Password</label>
                <p class="control">
                    <input class="input" type="password" placeholder="Your password" [formControl]="password" required id="password" name="password" [class.is-danger]="password.invalid && password.touched">
                </p>
                <p *ngIf="email.valid || email.pristine">Enter your password</p>
                <p *ngIf="email.dirty && email.hasError('help is-danger')">A password is required</p>
            </div>
            <div class="field is-grouped">
                <p class="control">
                    <button type="submit" class="button is-primary">Submit</button>
                </p>
                <p class="control">
                    <button type="reset" class="button is-link">Cancel</button>
                </p>
            </div>
        </form>
    </div>
  </div>
</div>
