<div class="columns is-mobile min-320">
  <div class="column">
    <div class="box">
        <h3 class="subtitle is-bold">User Information</h3>
        <form novalidate class="narrow-form" *ngIf="currentUser() | async as user">

            <div class="field is-horizontal">
                <label class="label">Email</label>
                <p class="control padding-20">
                    {{user.email}}
                </p>
            </div>
            <div class="field is-horizontal">
                <label class="label">Display Name</label>
                <p class="control padding-20">
                    {{user.displayName}}
                </p>
            </div>
            <div class="field is-horizontal">
                <label class="label">Uid</label>
                <p class="control padding-20">
                    {{user.uid}}
                </p>
            </div>
            <div class="field is-horizontal">
                <label class="label">Photo</label>
                <p class="control padding-20">
                    <figure class="image is-128x128" *ngIf="user.photoURL">
                        <img [src]="user.photoURL">
                    </figure>
                    <input type="file" class="control" name="file" id="file">
                    <ng2-webcam [options]="options" [onSuccess]="onSuccess" [onError]="onError"></ng2-webcam>
                    <canvas></canvas>
                    <button (click)="capture()" type="button" class="button is-primary" [ngClass]="{'is-loading': loading}">Capture</button>
                </p>
            </div>
            <div class="field is-horizontal">
                <label class="label"></label>
                <p class="control padding-20">
                    <button (click)="upload()" type="button" class="button is-primary" [ngClass]="{'is-loading': loading}">Upload</button>
                </p>
            </div>
            
        </form>
    </div>
  </div>
</div>
