<div class="columns is-mobile min-320">
  <div class="column">
    <div class="box">
        <h3 class="subtitle is-bold">Register</h3>
        <form [formGroup]="form" role="form" (ngSubmit)="onSubmit()" novalidate class="narrow-form">
            <div class="field">
                <label class="label">Name</label>
                <p class="control">
                    <input class="input" type="text" placeholder="Name" [formControl]="name" required id="name" name="name" [class.is-danger]="name.invalid && name.touched">
                </p>
                <p *ngIf="name.valid || name.pristine">Enter your name</p>
                <p *ngIf="name.dirty && name.hasError('help is-danger')">Name is required</p>
            </div>
            <div class="field">
                <label class="label">Email</label>
                <p class="control">
                    <input class="input" type="email" placeholder="Email input" [formControl]="email" required id="email" name="email" [class.is-danger]="email.invalid && email.touched">
                </p>
                <p *ngIf="email.valid || email.pristine">Enter your email address</p>
                <p *ngIf="email.dirty && email.hasError('help is-danger')">An email address is required</p>
            </div>
            <div class="field">
                <label class="label">Password</label>
                <p class="control">
                    <input class="input" type="password" placeholder="Your password" [formControl]="password" required id="password" name="password" [class.is-danger]="(password2.invalid || form.hasError('mismatchedPasswords')) && password2.touched">
                </p>
                <p *ngIf="email.valid || email.pristine">Enter your password</p>
                <p *ngIf="email.dirty && email.hasError('help is-danger')">A password is required</p>
            </div>
            <div class="field">
                <label class="label">Confirm Password</label>
                <p class="control">
                    <input class="input" type="password" placeholder="Confirm password" [formControl]="password2" required id="password2" name="password2" [class.is-danger]="password2.invalid && password2.touched">
                </p>
                <p *ngIf="(password2.valid && !form.hasError('mismatchedPasswords')) || password2.pristine">Repeat your password</p>
                <p *ngIf="password2.dirty && password2.hasError('required')">A password is required</p>
                <p *ngIf="password2.dirty && password2.valid && form.hasError('mismatchedPasswords')">Passwordsdon't match</p>
            </div>
            
            <div class="field is-grouped">
                <p class="control">
                    <button type="submit" class="button is-primary">Submit</button>
                </p>
                <p class="control">
                    <button type="reset" class="button is-link">Cancel</button>
                </p>
            </div>
        </form>
    </div>
  </div>
</div>